html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*    background: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/EJsJFv-/videoblocks-animation-of-wire-frame-model-of-city-3d-rendering_hlm2bsdjbu_thumbnail-1080_01.png");
    background-size: cover;*/
    background-color: #89DEFB;
}

h1 {
    background-color: #384E77;
    color: white;
    padding: 20px;
    width: auto;
    border-radius: 15px;
    border: 2px white solid;
}

.createButton {
text-decoration: none;
color: white;
}
    .createButton:hover {
        text-decoration: underline;
        color: white;
    }

p {
    background-color: #384E77;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

header {
background-color: black;
}

table {
background-color: white;
/*color: white;
*/
}
